body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #131a23;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  backgroud-color: #131a23;
  padding: 5px;
  border-bottom: 1px solid #424242;
}

.navbar-logo img {
  width: 150px;
  height: auto;
}