body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: #0e141b;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0e141b;
  padding: 5px;
  }

.navbar-logo img {
  width: 150px;
  height: auto;
}

.navbar-links {
  display: flex;
  margin-left: 20px; /* Add margin to separate links from the logo */
}

.navbar-link {
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #004aad;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  border: 2px solid #004aad;
}

/* Effet au survol */
.navbar-link:hover {
  cursor: pointer;
  background-color: #004aad;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Changed from flex-start to space-between */
  align-items: center;
  background-color: #0e141b;
  padding: 10px 20px;
  border-bottom: 1px solid #5555554f;
}

.navbar-link:active {
  transform: translateY(4px);
  background-color: #004aad;
  border-color: #004aad;
}

.navbar-btn {
  padding: 10px 20px;
  background-color: #004aad;
  color: #ffffff;
  border: 2px solid #004aad;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.1s ease;
  margin-left: 15px;
}

.navbar-btn:hover {
  background-color: #004aad;
  cursor: pointer;
}

.navbar-btn:active {
  transform: translateY(4px);
  background-color: #004aad;
}

.navbar-actions {
  display: flex;
  align-items: center;
  margin-left: auto; /* Ensure actions are pushed to the far right */
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#crypto-list {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crypto-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.crypto-item h2 {
  font-size: 18px;
  color: #004aad;
}

.crypto-item img {
  width: 50px;
  height: 50px;
}

.crypto-item p {
  margin: 10px 0;
  font-size: 14px;
}